.body {
  background-color: #fae5d3;
}

.logo {
  height: 24px;
}

.Omnifood-logo {
  padding: 16px;
}
.headingg-primary {
  padding: 10px 16px;
  font-size: 42px;
  font-weight: 200;
  color: #fff;
  background-color: #e67e22;
}

.main-course {
  padding: 10px 16px;
}
.heading-primary {
  display: flex;
  justify-content: space-around;
  padding: 10px 16px;
  font-size: 34px;
  color: beige;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.heading {
  font-size: 26px;
  align-items: center;
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}
.sub-heading {
  font-style: italic;
  font-size: 18px;
  padding: 5px 5px;
  display: grid;
  justify-content: space-around;
  color: #fae5d3;
}

.form {
  font-weight: bold;
  padding: 16px 16px;
  display: block;
  justify-items: center;
  width: 100%;
}

.label {
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
}

.subscription {
  font-size: 20px;
  font-style: italic;
  padding: 16px 16px;
  display: flex;
  justify-content: space-around;
}

.main {
  background-image: url("menu1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.submit {
  display: flex;
  justify-content: space-around;
}

.heading-primary1 {
  display: flex;
  justify-content: space-around;
  padding: 10px 16px;
  font-size: 34px;
  color: #333;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}
